.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center
}

.text-line-through {
  text-decoration: line-through;
}

.w-90 {
  width: 90%;
}

.word-wrap-anywhere {
  word-wrap: anywhere;
}
